*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body{
	font-family:sans-serif;
	font-size: 16px;
	color:black;
}

#buttonnav{
	border: 1px solid black;
	height: 51px;
	margin:10px 30px;
	background-color:grey;
}
#buttonnav:hover{
	background-color:#ddd;
}
.navbar-header #buttonnav .icon-bar{
	color:black;
	border: 2px solid black;
}
.navbar-default .navbar-collapse #list{
	background-color:white;
	border:none;
	
}
.navbar-default .navbar-collapse #list li{
	border:1px solid black;
	font-weight:bold;
	font-size:1.4em;
	color:black;
}
.navbar-default #navbar-collapse{
	border:none;
}
.navbar{
	border:none;
}
.navbar-nav{
	margin: 0 -15px;
}
#nav{
	background-color:grey;
	border-bottom:1px solid black;
}
#brand{
	padding: 30px 30px 50px 30px;
	font-size:2.2em;
	color:black;
	font-weight:bold;
}


/*----MAIN-----*/
h1{
	margin-top:10px;
	margin-bottom:40px;	
	font-weight:bold;
}
main.container-fluid{
	margin: 0 20px;
}

.menu{
	background-color:grey;
	padding: 10px 20px;
	border: 1px solid black;
	height:800px;
	margin-bottom:20px;
}
.menu .description{
	margin-top:20px;
	font-size: 1.2em;
	font-weight:bold;
}
.name{
	padding: 5px;
	font-size:1.7em;
	text-align:center;
	font-weight:bold;
}

@media (max-width: 768px){
	
	/*-----HEADER-----*/
	#brand{
		font-size:1.5em;
		padding: 30px 30px 20px 20px;
	}
	.navbar-default .navbar-collapse #list li{
		font-size:1em;
	}
	
	/*----MAIN----*/
	h1{
		margin-top:0;
		margin-bottom:20px;
	}
	main.container-fluid{
		margin:0 35px;
		
	}
	h1{
		font-weight:600;
		font-size:1.3em;
	}
	
}
